body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

button {
    display: block;
    width: 100%;
    margin: auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#locationInfo {
    margin-top: 20px;
    text-align: center;
}
